/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #ffffff;
$black: #000000;
$primary: #f3f3f3;
$secondary: #CE1770;
$ternary: #6B9096;
$border: #4D4D4D;
$gray: #021114;
$accent: #CE1770;
